  <div id="alert-bar" class="bg-secondary text-white py-3">
    <div class="container mx-auto px-4 md:px-8">
      <div class="flex items-center justify-between">
        <div class="flex items-center">
          <i class="mr-2 text-xl" data-fa-i2svg="">
            <svg class="svg-inline--fa fa-circle-exclamation" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="circle-exclamation" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm0-384c13.3 0 24 10.7 24 24V264c0 13.3-10.7 24-24 24s-24-10.7-24-24V152c0-13.3 10.7-24 24-24zM224 352a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z"></path></svg>
          </i>
          <p class="font-medium">{% include "includes/alerts.html" %}</p>
        </div>
        <!--
        <span class="whitespace-nowrap underline text-sm font-medium cursor-pointer">Learn More</span>
        -->

      </div>
    </div>
  </div>