<div class="hidden md:flex items-center justify-center text-right">
    <div class="inline-block bg-gradient-to-r from-transparent via-red-600 via-red-500 to-transparent text-white px-12 py-8 rounded-xl shadow-2xl">
        <div class="text-3xl md:text-5xl font-extrabold">🚧 Coming Soon</div>
        <div class="text-xl md:text-2xl font-medium mt-2">Bear with us</div>
        <hr/>
                <div class="text-xl md:text-2xl font-medium mt-2"><br/>If you are experiencing struggles </div>
                <div class="text-xl md:text-2xl font-medium mt-2"><br/>contact your local police or <u><a href="https://www.actionfraud.police.uk/">UK Action Fraud.</a></u></div>

    </div>
</div>