
<div id="quick-resources" class="bg-white rounded-lg shadow-md p-6">
          <h3 class="text-xl font-bold text-primary mb-4 font-heading">Quick Resources</h3>
          <ul class="space-y-3">
            <li>
              <span class="flex items-center text-accent hover:text-secondary transition-colors cursor-pointer">
                <i class="w-5 mr-2 text-green-500" data-fa-i2svg="">
                  <svg class="svg-inline--fa fa-circle-check" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="circle-check" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"></path></svg>
                </i>
                <span>How to Verify Legitimate Calls</span>
              </span>
            </li>
            <li>
              <span class="flex items-center text-accent hover:text-secondary transition-colors cursor-pointer">
                <i class="w-5 mr-2 text-green-500" data-fa-i2svg="">
                  <svg class="svg-inline--fa fa-circle-check" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="circle-check" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"></path></svg>
                </i>
                <span>Spotting Phishing Emails</span>
              </span>
            </li>
            <li>
              <span class="flex items-center text-accent hover:text-secondary transition-colors cursor-pointer">
                <i class="w-5 mr-2 text-green-500" data-fa-i2svg="">
                  <svg class="svg-inline--fa fa-circle-check" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="circle-check" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"></path></svg>
                </i>
                <span>Secure Online Shopping Guide</span>
              </span>
            </li>
            <li>
              <span class="flex items-center text-accent hover:text-secondary transition-colors cursor-pointer">
                <i class="w-5 mr-2 text-green-500" data-fa-i2svg="">
                  <svg class="svg-inline--fa fa-circle-check" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="circle-check" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"></path></svg>
                </i>
                <span>Protecting Elderly Relatives</span>
              </span>
            </li>
            <li>
              <span class="flex items-center text-accent hover:text-secondary transition-colors cursor-pointer">
                <i class="w-5 mr-2 text-green-500" data-fa-i2svg="">
                  <svg class="svg-inline--fa fa-circle-check" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="circle-check" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"></path></svg>
                </i>
                <span>Recovery After Being Scammed</span>
              </span>
            </li>
          </ul>
        </div>