 <div class="navbar bg-base-100 shadow-sm">
    <div id="top-bar" class="bg-primary text-white py-2 px-4 md:px-8">
      <div class="container mx-auto flex justify-between items-center">
        <div class="flex items-center space-x-4">
          <span class="text-sm hover:underline flex items-center cursor-pointer">
            <i class="fa-solid fa-phone-volume"></i> <div>&nbsp; Emergency: 0800 XXX XXXX</div>
          </span>
          <span class="hidden md:inline-block text-gray-300">|</span>
          <span class="hidden md:flex text-sm hover:underline items-center cursor-pointer">
            <i class="fa-solid fa-hand-holding-hand"></i><div>&nbsp; Help &amp; Support.</div>
          </span>
        </div>
        <div class="flex items-center space-x-4">
          <span class="text-sm hover:underline cursor-pointer">Sign In</span>
          <span class="text-sm hover:underline cursor-pointer">Register</span>
          <span class="hidden md:inline-block text-sm bg-secondary hover:bg-red-700 px-3 py-1 rounded-md transition-colors cursor-pointer">
            Report a Scam
          </span>
        </div>
      </div>
    </div>
  </div>